
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Cucumber / test report artifacts
*-attachment.*
*-result.json
cucumber-report.html
reports/
